<section class="cart">
    <section class="cart__item-list">
        <h2 class="cart__item-list__title">Mes articles</h2>
    </section>
    <section class="cart__total-price__container">
        <p>Total : <span class="cart__total-price">0.0€</span></p>
    </section>
    <section class="cart__order-button__container">
        <a class="cart__order-button" href="order.html">Commander</a>
    </section>
</section>
<%- include('cart-item-template', {}) %>
