<header>
    <nav class="nav-bar">
        <button class="menu-button" title="menu"><%- include('../icons/menu.svg', {}) %></button>
        <a href="./index.html" title="Accueil" class="home-button"> OriTeddy </a>
        <a href="./cart.html" title="Mon panier" class="cart-button">
            <%- include('../icons/cart.svg', {}) %>
        </a>
    </nav>
</header>
