<header class="shadow-lg mb-8">
    <nav class="nav-bar flex justify-between p-8">
        <button class="menu-button md:h-12 md:w-12 h-8 w-8" title="menu">
            <%- include('../icons/menu.svg', {}) %>
        </button>
        <a href="./index.html" title="Accueil" class="home-button font-logo md:text-6xl text-3xl">
            OriTeddy
        </a>
        <a href="./cart.html" title="Mon panier" class="cart-button md:h-12 md:w-12 h-8 w-8">
            <%- include('../icons/cart.svg', {}) %>
        </a>
    </nav>
</header>
