<div class="order-confirmation" id="order-confirmation">
    <h2 class="text-lg font-semibold">Votre commande est en cours de traitement</h2>
    <p class="font-light">vous allez être redirigé</p>
</div>
