<form id="order-form" class="order-form">
    <%- include("./personnal-info-fields") %> <%- include("./pay-info-fields") %>
    <div class="next-button__container">
        <button id="next" class="next-button" disabled>Suivant</button>
    </div>
</form>
