<template id="teddy-card__template">
    <li>
        <a class="teddy-card__link">
            <article class="teddy-card">
                <img class="teddy-card__image" />
                <h2 class="teddy-card__name"></h2>
                <section class="teddy-card__info">
                    <h4 class="teddy-card__description"></h4>
                    <p class="teddy-card__price"></p>
                </section>
            </article>
        </a>
    </li>
</template>
