<article class="teddy">
    <img class="teddy__image" />
    <section class="teddy__info">
        <h2 class="teddy__name"></h2>
        <p class="teddy__description"></p>
        <label for="color-select" class="teddy__color-label">Couleur</label>
        <div class="teddy__color-select__container">
            <select name="color-select" id="color-select" class="teddy__color-select"></select>
            <span class="teddy__color-select__arrow">
                <%- include('../icons/chevron-bottom.svg') %>
            </span>
        </div>
        <div class="teddy__shipping">
            <span class="teddy__shipping__image"><%- include('../icons/truck.svg') %></span>
            <p class="teddy__shipping__text">Livraison gratuite sous 48h</p>
        </div>
        <p class="teddy__price"></p>
    </section>
</article>
