<article class="teddy">
    <img class="teddy__image" />
    <h3 class="teddy__name"></h3>
    <section class="teddy__info">
        <h4 class="teddy__description"></h4>
        <p class="teddy__price"></p>

        <label for="color-select" class="teddy__color__label">Couleur :</label>
        <select name="pets" id="color-select" class="teddy__color__select"></select>
    </section>
</article>
