@import "./components/progress-steps";
@import "./components/order-form";

@keyframes fade_full {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.order-confirmation {
    @apply hidden flex-col justify-center items-center absolute;
    animation: fade_full linear 200ms both paused;
}
