@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.75;
    }
}

toast-element {
    @apply fixed rounded-lg bottom-12 z-10 bg-black left-0 right-0 mx-auto;
    @apply text-lg font-semibold text-white text-center p-4 w-10/12 md:w-2/5;
    @apply flex flex-row items-center;
    animation: fade 2s both 2 alternate linear;

    &[type="success"] {
        @apply bg-green-700;
    }

    &[type="error"] {
        @apply bg-red-700;
    }

    p {
        @apply justify-self-center flex-grow;
    }
}
