<%- include("../../components/header", header) %>
<main>
    <h1>Mon panier</h1>
    <%- include("../../components/cart") %>
</main>
<%- include("../../components/footer", footer) %>
<%- include("../../utils/script-list", {scripts}) %>